node_modules/
dist/
release/
asar-out/
package-extracted.json
*.db
*.key
.env

# Logs
logs
*.log
npm-debug.log*
build-error*.log
builder-error.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
